<div class="all-saved-repositories">
  <h3>Recent Repos</h3>

  <!-- Need to make this only saved repositories CHECK BABY SUCCESS-->
  <% Repository.all.each do |repository| %>
    <a href='/code-review/?username=<%=@user%>&repo=<%=repository["name"]%>&uid=<%= repository["id"] %>'><%=repository["name"]%></a>
    <br><br>
  <% end %>


</div>
