<div class="all-saved-repositories">
  <h3>Saved Repositories</h3>

  <!-- Need to make this only saved repositories -->
  <% @repositories.each do |repository| %>
    <a href='/code-review/?username=<%=@user%>&repo=<%=repository["name"]%>'><%=repository["name"]%></a>
    <br><br>
  <% end %>


</div>
