<div class="all-saved-repositories">
  <h3>Recent Repos</h3>
  <!-- Need to make this only saved repositories CHECK BABY SUCCESS-->
  <% Repository.all.each do |repository| %>
     <%= link_to "#{repository.name}", repository_path(repository) %>
    <br><br>
  <% end %>


</div>
