<tr>
	<td class="contributors_images">
		<div class="top_row">
			<% repository.contributors.each do |contributor| %>
			<%= render partial: 'repositories/contributor',locals: {contributor: contributor} %>
			<% end %>
		</div>
	</td>
	<td>
		<%= render partial: 'repositories/file_paths',locals: {repository: repository} %>
	</td>
	<%# require 'json' %>
	<td>
		<% parse_css_perc(JSON.parse(repository.graph_arr)).each do |values| %>
		<%#=values %>
			<%= render partial: "graph", locals: {values: values} %>
		<% end %>
	</td>
	<td><%= repository.commits %></td>
</tr>






