<section>
    <%= binding.pry%>
    <div class="additions segment_height_<%= parse_css_perc(additions_deletions)[1] %>"></div>
    <div class="deletions segment_height_<%=parse_css_perc(additions_deletions)[2]%>"></div>
    <div class="unchanged segment_height_<%=parse_css_perc(additions_deletions)[0]%>"></div>
</section>

