<section class="graph_container">
	<div class="graph_interval">
		<div class="graph_segment additions segment_height_<%= values[1] %>"></div>
		<div class="graph_segment deletions segment_height_<%= values[2] %>"></div>
		<div class="graph_segment unchanged segment_height_<%= values[0] %>"></div>
	</div>
</section>