<div class="note-box">

  <form role="form" action="/notes" method="post">

    <div class="form-group">
      <label class="notes_label" for="content">Notes</label>
    </div>

    <div class="form-group notes_textarea_div">
      <textarea class="form-control" name="content"></textarea>
    </div>

    <input type="hidden" name="username" value="#{@username}">
    <input type="hidden" name="repository_name" value="#{@repository}">
    <input type="hidden" name="reviewer_id" value="wow">

    <div class="form-group">
      <input class="form-control notes_button" type="submit" value="Add">
    </div>

  </form>

</div>
