<section class="container">
	<section class="row">
		<section class="col-md-12">
			<table class="table table-bordered">
				<tr>
					<th>File Path</th>
					<th>Commits</th>
					<th>Users</th>
					<th>Line Changes</th>
				</tr>
				<% @repository.docs.each do |doc| %>
					<%= render partial: 'table_row', locals: {doc: doc} %>
				<% end %>
			</table>
		</section>
	</section>
</section>