<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles">Search Results</h3>
	<section class="col-md-3"></section>
</section>

<ul>
<% @repositories.each do |repository| %>
	<li>
		<a href="/code-review?username=<%=@user%>&repo=<%=repository["name"]%>"><%= repository["name"] %></a>
    <%= render "save_repo_button" %>
	</li>
<% end %>
<ul>


