<h1>Search Results</h1>
<ul>
<% @repositories.each do |repository| %>
	<li>
		<a href="/code-review?username=<%=@user%>&repo=<%=repository["name"]%>"><%= repository["name"] %></a>
    <%= render "save_repo_button" %>
	</li>
<% end %>
<ul>
