<section class="col-md-3"></section>
<section class="col-md-6">
	<h3 class="page_titles"><%= @repository.name %></h3>
</section>
<section class="col-md-3"></section>

	<section class="container-fluid">
		<table class="table table-bordered">
			<%= button_to "Destroy", @repository, :class => "btn btn-danger btn-xs delete_button", confirm: "Are you sure you'd like to delete this repository and all it's associated notes?", method: :delete %>
			<%= button_to "Update Repository", @repository, method: :patch, action: "update", class: "btn btn-warning btn-xs btn_navbar", locals: { repository: @repository }%>
			<table class="table table-bordered repo_table">
				<tr>
					<th>Contributors</th>
					<th>File Path</th>
					<th>Chart</th>
					<th>Commits</th>
					<th>Insertions</th>
					<th>Deletions</th>
				</tr>
				<% @repository.repository_files.each do |repository| %>
				<tr>
					<%= render partial: 'repositories/file_row', locals: {repository: repository} %>
				</tr>
				<% end %>
			</table>
		</section>
	</div>







