<section class="my_repo_row row">
	<section class="col-md-3 col-sm-4 col-xs-7 repo_name">
		<i class="fa fa-folder-open"></i>
		<%= link_to "#{repository.name}", repository_path(repository) %>
	</section>
	<section class="col-md-7 col-sm-4 col-xs-3 repo_owner_name">
		<i class="fa fa-user"></i>
		<%= repository['repo_owner'] %>
	</section>
	<section class="col-md-2 col-sm-2 col-xs-2">
		<%= link_to content_tag(:i,nil, :class=>"fa fa-trash"), repository_path(repository), {onclick: "return confirm('Are you sure you'd like to delete this repository and all it's associated notes?')", method: :delete, :class => "delete_button" } %>
		<span class="date"><%= last_checked(repository).strftime("%b %d") %></span>
		<i class="fa fa-clock-o"></i>
	</section>
</section>
