<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles">Dashboard</h3>
	<section class="col-md-3"></section>
</section>
<section class="row">
	<section class="col-md-3"></section>
	<p class="col-md-6 page_titles">(This is the logged in users dashboard)</p>
	<section class="col-md-3"></section>
</section>
<% unless @repositories.nil? %>
<% @repositories.each do |repository| %>
	<section class="row">
		<section class="col-md-5"></section>
		<%= link_to "#{repository.name}", repository_path(repository) %>&nbsp;&nbsp;&nbsp;<%= repository['repo_owner'] %>
		<section class="col-md-5"></section>
	</section>
<% end %>
<% end %>
