<section class="container-fluid inner_container">
	<section class="row my_code_review_row">
		<section class="col-md-5 col-sm-6 col-xs-12">
			<h3 id="my_code_reviews_header" class="page_titles">
				My Repositories
				<i class="fa fa-code code_icon"></i>
			</h3>
		</section>
		<section class="col-md-5 col-sm-3 col-xs-0"></section>
		<section class="col-md-2 col-sm-3 col-xs-0"></section>
	</section>
<% unless @repositories.nil? %>
	<% @repositories.each do |repository| %>
		<%= render partial: 'users/dashboard_rows', locals: {repository: repository} %>
	<% end %>
<% end %>
</section>