<section class="container-fluid">
	<div>
		<form id="search_repo" action="/search" method="get">
			<div class="form-group">
				<input class="form-control" name="keyword">
			</div>
			<div class="form-group">
				<input class="form-control" type="submit" label="submit">
			</div>
		</form>
	</div>
</section>