<section class="container-fluid col-md-3"></section>
<section class="container-fluid col-md-6">
	<div class="form-group">
		<form action="/search" method="get">
			<div class="form-group">
				<input class="form-control" name="username">
			</div>
			<div class="form-group">
				<input class="form-control" type="submit" label="submit">
			</div>
		</form>
	</div>
</section>
<section class="container-fluid col-md-3"></section>