<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles">SPLASH!</h3>
	<section class="col-md-3"></section>
</section>
<section class="row">
	<section class="col-md-3"></section>
	<p class="col-md-6 page_titles">(This is the splash page)</p>
	<section class="col-md-3"></section>
</section>