<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles">Search for Users</h3>
	<section class="col-md-3"></section>
</section>
<section class="row">
	<%= render partial: 'search' %>
</section>