<div class="notes">
  <!--   Success! Made this display notes for this particular repo -->
   <% if Repository.find_by(repo_uid: @repository.repo_uid).notes %>
      <% Repository.find_by(repo_uid: @repository.repo_uid).notes.each do |note| %>
        <%= note.content %><br><br>
      <% end %>
  <% end %>
</div>
