<div class="notes">
<!--   Need to make this display notes for this particular repo -->
<%# binding.pry %>
  <% if Repository.find(params["id"]).notes %>
    <% Repository.find(params["id"]).notes.each do |note| %>
      <%= note.content %><br><br>
    <% end %>
  <% end %>
</div>
