<div class="notes">
  <!--   Success! Made this display notes for this particular repo -->
   <% if Note.where(repo_uid: @repository.repo_uid) %>
      <% Note.where(repo_uid: @repository.repo_uid).each do |note| %>
        <%= note.content %><br><br>
      <% end %>
  <% end %>
</div>
