<div class="sidebar">

<%#if @saved_repositories_banner %>

  <%#=render partial: "all_saved_repositories" %>

<% if true %>

  <%= render "shared/note_box" %>

  <%#= render "shared/notes" %>
<% end %>

</div>
