<div class="sidebar">

<%if @saved_repositories_banner %>

  <%=render "shared/all_saved_repositories" %>

<% elsif @notes_banner %>

  <%= render "shared/note_box" %>

  <%= render "shared/notes" %>
<% end %>

</div>
