<section class="row">
	<section class="col-md-0"></section>
	<section class="col-md-12">
		<%= image_tag "splash_img.jpg", class: "splash_img" %>
	</section>
	<section class="col-md-0"></section>
</section>

<section class="row">
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-bar-chart"></i>
		<h3>Charts</h3>
		<p>Blah blah blah</p>
	</section>
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-align-left"></i>
		<h3>Recent Activity</h3>
		<p>Blah blah blah</p>
	</section>
</section>

<section class="row">
	<footer class="col-md-12"></footer>
</section>