<section class="row upper_row">
	<h1 class="tagline">Fast & Easy Code Reviews</h1>
</section>
<section class="row splash_image_section_row">
	<!-- <section class="col-md-1 image_sides"></section> -->
	<section class="col-md-12 splash_image_section">
		<%= image_tag "splash_img.jpg", class: "splash_img" %>
	</section>
	<!-- <section class="col-md-1 image_sides"></section> -->
</section>

<section class="row">
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-bar-chart bar_chart"></i>
		<h3>Charts</h3>
		<p>See charts that show change in repository files.</p>
	</section>
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-align-left"></i>
		<h3>Recent Activity</h3>
		<p>Our interface helps you see when changes occurred.</p>
	</section>
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-bar-chart bar_chart"></i>
		<h3>Charts</h3>
		<p>See charts that show change in repository files.</p>
	</section>
	<section class="col-md-6 splash_quadrants">
		<i class="fa fa-align-left"></i>
		<h3>Recent Activity</h3>
		<p>Our interface helps you see when changes occurred.</p>
	</section>
</section>

<section class="row">
	<footer class="col-md-12"></footer>
</section>