<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles">SPLASH!</h3>
	<section class="col-md-3"></section>
</section>
<section class="row">
	<section class="col-md-5"></section>
	<img src="http://www.gamesprays.com/images/icons/koolaid_oohya_icon949.jpg" class="col-md-2 page_titles">
	<section class="col-md-5"></section>
</section>