/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*-----------------LOGO-----------------*/

.logo {
  font-size: 2em;
  margin: 2px 0 0 10px;
  color: #34495E;
}

.navbar-brand {
  padding: 7px 0 0 20px;
}

.logo_text {
  margin: 1px 0 0 -1px;
  display: block;
  padding-top: 5px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #34495E;
}

.logo_text:hover {
  text-decoration: none;
  color: #34495E;
}

.navbar-header {
  width: 250px;
}

/*-----------------SEARCH BAR-----------------*/

#navigation_search {
  display: block;
  float: right;
  padding-right: 6px;
  width: 30%;
}

#navigation_search_button {
  display: none;
}

.input-group {
  width: 100%;
}

#github_login {
  margin: 0;
}

.login_button {
  font-size: .9em;
}

#github_login span {
  margin: 0 5px 0 0;
}

.navbar-form .input-group .input-group-addon {
 width: 20px;
 font-size: 1.4em;
}

.navbar-form .input-group .input-group-addon a {
 color: black;
}


/*-----------------USER DROPDOWN MENU -----------------*/

#user_menu img {
  margin: 0 0 0 3px;
}

img.profile_img {
  border: 1px solid rgba(0,0,0,.25);
}

.btn .caret {
  margin: 0 5px 0 2px;
}

#profile_button {
  background: #eee;
}

#login_logout {
  display: block;
  float: right;
  margin: 8px 10px 0 0;
}

#login_logout a {
  padding: 6px 5px 5px 10px;
}

#login_logout {
  background: #f8f8f8;
}

a.login_logout {
  margin-top: 5px;
}


/*-----------------NAVBAR STYLING-----------------*/

.navbar {
  border-radius: 0;
}

#bs-example-navbar-collapse-1 {
  padding: 0;
}

#navigation_bar {
  margin-bottom: 0;
}


/*-----------------TABLE STYLING-----------------*/

.page_titles {
  /*text-align: center;*/
  margin-bottom: 20px;
  display: inline;
}

#select_branch {
  display: inline;
}

#select_branch_section {
  text-align: center;
}

.start-code-review-button {
  display: block;
  float: right;
}

.start-code-review-button button {
  font-size: .8em;
}

.repo_update_button {
  float: right;
  margin-top: 4px;
}

.destroy_button {
  float: right;
  margin-left: 5px;
  margin-top: 4px;
}


/*------Notes Button and Partial-----------*/

.sidebar {
  /*display: none;*/
  margin: 75px 0 0 20px;
  /*width: 20%;*/
  /*height: 300px;*/
  /*border: 1px solid #e1e1e8;*/
  /*border-radius: 3px;*/
  background: white;
}

#side_bar_div {
  background: white;
  border: 1px solid white;
  margin: -10px 0 0;
}

.sidebar_toggle {
  position: absolute;
}

#note_toggle_button {
  margin: 0 0 0 -5px;
}

#note_toggle_button:focus {
  outline: 0;
}

#note_toggle_button:hover {
  /*background: white;*/
  outline: 0;
}

#note_toggle_button:active {
  /*background: white;*/
  outline: 0;
}

.content_section {
	width: 100%;
	overflow: hidden;
}

.all-saved-repositories {
	margin: 75px 0 0 20px;
}

.notes_textarea_div {
	margin: 0 10px;
}

.notes_button {
	width: 100px;
	margin: 10px;
}

.notes_label {
	margin: 10px 10px 0;
}

.activated {
	display: block;
}


#update_button {
  display: block;
  float: right;
}

#update_button a {
  text-decoration: none;
  color: white;
}

.repo_table {
  width: 100%;
  margin: 60px 0 0;
}

#branch_form {
  display: inline;
}

#branch_form input {
  display: none;
}

.contributor_img {
  display: inline;
  height: 20px;
  width: 20px;
}

.contributor_img img {
  height: 20px;
  width: 20px;
}

.full_path {
  font-size: .8em;
  margin-bottom: 0;
  display: inline;
}

.file_name {
  font-size: 1.2em;
  margin-bottom: 0;
  display: inline;
  font-weight: bold;
  color: #2980B9;
}

#contributors {
  width: 20%;
}

#file_path {
  width: 20%;
}


#change_over_time {
  width: 60%;
}

.graph_container {
  /*display: flex;*/
  height: 30px;
  display: inline-block;

}

.graph_interval {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}

.graph_segment {
  width: 0.8em;
}

.lines_added {
  background: #AEE239;
  height: 6px;
  margin-bottom: 1px;
}

.lines_deleted {
  background: #FF6B6B;
  height: 4px;
  margin-bottom: 1px;
}

.total_lines {
  background: #7F8C8D;
  height: 12px;
}

.column_head {
  text-decoration: none;
  color: black;
}

.start_project {
  height: 20px;
  width: 5px;
  background: #7F8C8D;
}

.contributor_email {
  display: none;
}

.big-link {
  font-size: 20px
}



/*----------DASHBOARD-----------------*/


#my_code_reviews_header {
  font-size: 1.6em;
}

.my_repo_row {
  height: 60px;
  /*background: rgba(0,0,0,.04);*/
  /*border-left: 2px solid #6A8DBC;*/
  margin: 0 0 2px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.repo_name {
  /*background: #f7d9d9;*/
  height: 100%;
  padding-top: 14px;
}

.repo_owner_name {
  padding-top: 19px;
}

.repo_name a {
  color: #1F2648;
  font-size: 1.4em;
}

.inner_container {
  /*background: red;*/
}

.code_icon {
  font-weight: bold;
  font-size: 1.1em;
}

.fa-folder-open {
  font-size: 1.2em;
  margin-right: 5px;
}

.my_code_review_row {
  margin: 20px 0 25px;
}

.date {
  float: right;
  margin: 18px 0 25px;
}

.fa-clock-o {
  float: right;
  margin: 21px 5px 25px;
}

.delete_button_section {
  float: right;
}

.delete_button {
  display: block;
  float: right;
  font-size: 1.2em;
  margin: 0 0 0 40px;
  padding-top: 19px;
  color: black;
}


/*----------GRAPH LIBRARY-----------------*/

.segment_height_0 {
  height: 0px;
}

.segment_height_1 {
  height: 10px;
}

.segment_height_2 {
  height: 20px;
}

.segment_height_3 {
  height: 30px;
}

.segment_height_4 {
  height: 40px;
}

.segment_height_5 {
  height: 50px;
}

.segment_height_6 {
  height: 60px;
}

.segment_height_7 {
  height: 70px;
}

.segment_height_8 {
  height: 80px;
}

.segment_height_9 {
  height: 90px;
}

.segment_height_10 {
  height: 100px;
}

.additions {
  background: #00CC33;
}

.deletions {
  background: #FF3333;
}

.unchanged {
  background: #E8E8E8 ;
}


/*----------SPLASH PAGE-----------------*/

.upper_row {
  height: 60px;
  background-image: url("splash_img_top.jpg");
  background-repeat: repeat;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tagline {
  font-size: 2.5em;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.splash_image_row {
  margin-top: 0;
}

.splash_image_section {
  background-image: url("splash_img_left.jpg");
  background-repeat: repeat-x;
  height: 500px;
  max-height: 500px;
}

.splash_img {
  height: 100%;
  display: block;
  margin: auto;
}

.splash_quadrants {
  height: 100px;
  text-align: center;
  margin: 60px 0 100px;
}

.bar_chart {
  font-size: 4em;
}

.fa-align-left {
  font-size: 4em;
}

footer {
  background: #555;
  height: 125px;
}

.image_sides {
  background-image: url("splash_img_left.jpg");
  background-repeat: repeat-x;
  height: 557px;
}

.centered_td {
  text-align: center;
}




