/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logo {
  font-size: 2em;
}

#navigation_search {
  padding-right: 5px;
}

.navbar-brand {
  padding: 10px 0 0 20px;
}

.page_titles {
  text-align: center;
  margin-bottom: 20px;
  display: inline;
}

#select_branch {
  display: inline;
}

#select_branch_section {
  text-align: center;
}

.start-code-review-button {
  display: block;
  float: right;
}

.start-code-review-button button {
  font-size: .8em;
}



/*------Notes Button and Partial-----------*/

.sidebar {
  /*display: none;*/
  margin: 75px 0 0 20px;
  /*width: 20%;*/
  /*height: 300px;*/
  /*border: 1px solid #e1e1e8;*/
  /*border-radius: 3px;*/
  background: white;
}

#side_bar_div {
  background: white;
  border: 1px solid white;
  margin: -10px 0 0;
}

.sidebar_toggle {
  position: absolute;
}

#note_toggle_button {
  margin: 0 0 0 -5px;
}

#note_toggle_button:focus {
  outline: 0;
}

#note_toggle_button:hover {
  /*background: white;*/
  outline: 0;
}

#note_toggle_button:active {
  /*background: white;*/
  outline: 0;
}

.content_section {
	width: 100%;
	overflow: hidden;
}

.all-saved-repositories {
	margin: 75px 0 0 20px;
}

.notes_textarea_div {
	margin: 0 10px;
}

.notes_button {
	width: 100px;
	margin: 10px;
}

.notes_label {
	margin: 10px 10px 0;
}

.activated {
	display: block;
}

/*----------Expandable Side Bar-----------------*/

#body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#body .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#body .viewport .frame {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

#body .viewport .frame .navbar .navbar-inner {
  border-radius: 0;
  padding-left: 5px;
}

#body .viewport .frame .menu {
  height: 100%;
  /* background-color: #3D6AA2; */
}

#inner_nav_bar {
  visibility: hidden;
}

#body .viewport .frame .menu.collapse {
  float: left;
  height: 100% !important;
  width: auto;
}

#body .viewport .frame .menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#body .viewport .frame .menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

#body .viewport .frame .menu.collapse.in.width {
  width: auto;
}

#body .viewport .frame .menu.collapse.in.height {
  height: auto;
}

#body .viewport .frame .menu .collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}

#body .viewport .frame .menu .navbar .navbar-inner {
  text-align: center;
  color: grey;
  font-size: 1.2em;
  line-height: 38px;
}

#body .viewport .frame .menu .nav-stacked {
  padding: 0 10px;
}

#body .viewport .frame .view {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#body .viewport .frame .view .navbar .navbar-inner .btn-navbar {
  display: block;
  float: left;
}

#body .viewport .frame .view #content {
  margin: auto 15px;
  text-align: justify;
}

#update_button {
  display: block;
  float: right;
}

#update_button a {
  text-decoration: none;
  color: white;
}

.repo_table {
  width: 100%;
  margin: 60px 0 0;
}

#branch_form {
  display: inline;
}

#branch_form input {
  display: none;
}

.delete_button {
  display: block;
  float: right;
  margin: 0 0 0 5px;
}

.contributor_img {
  display: inline;
  height: 20px;
  width: 20px;
}

.contributor_img img {
  height: 20px;
  width: 20px;
}

.full_path {
  font-size: .8em;
  margin-bottom: 0;
  display: inline;
}

.file_name {
  font-size: 1.2em;
  margin-bottom: 0;
  display: inline;
  font-weight: bold;
  color: #2980B9;
}

#contributors {
  width: 20%;
}

#file_path {
  width: 20%;
}

#change_over_time {
  width: 60%;
}

.graph_interval {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}

.lines_added {
  background: #AEE239;
  height: 6px;
  margin-bottom: 1px;
}

.lines_deleted {
  background: #FF6B6B;
  height: 4px;
  margin-bottom: 1px;
}

.total_lines {
  background: #7F8C8D;
  height: 12px;
}

.graph_segment {
  width: 5px;
}

.graph_container {
  display: flex;
}

.contributor_email {
  display: none;
}






