<table class="table-bordered repo_table">
	<tr>
		<th id="contributors">Contributors</th>
		<th id="file_path">File Path / Name</th>
		<th id="change_over_time">Change Over Time</th>
	</tr>
	<tr>
		<td class="contributors_images">
			<div class="top_row">
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
			</div>
			<div class="bottom_row">
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
				<div class="contributor_img"><img class="img-circle" src="https://avatars.githubusercontent.com/u/4869016?v=3" alt="steveono@gmail.com"></div>
			</div>
		</td>
		<td>
			<div class="top_row">
				<p class="full_path">http://localhost:3000/users/2</p>
			</div>
			<div class="bottom_row">
				<p class="file_name">users_controller.rb</p>
			</div>
		</td>
		<td>
			<div class="graph_container">
				<div class="graph_interval">
					<div class="lines_added graph_segment"></div>
					<div class="lines_deleted graph_segment"></div>
					<div class="total_lines graph_segment"></div>
				</div>
				<div class="graph_interval">
					<div class="lines_added graph_segment"></div>
					<div class="lines_deleted graph_segment"></div>
					<div class="total_lines graph_segment"></div>
				</div>
				<div class="graph_interval">
					<div class="lines_added graph_segment"></div>
					<div class="lines_deleted graph_segment"></div>
					<div class="total_lines graph_segment"></div>
				</div>
			</div>
		</td>
	</tr>
</table>



